{% extends "base.html" %}
{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-warning" role="alert">
        {% for message in messages %}
        {{ message }}<br>
        {% endfor %}
      </div>

    {% endif %}
  {% endwith %}

  <div>
    <form action="{{ url_for('main.index') }}" method="POST">
      {{ form.hidden_tag() }}
      <div class="form-row">
        <div class="col-md-auto">
          {{ form.is_income }}
        </div>
        <div class="col">
          {{ form.value }}
        </div>
        <div class="col-auto">
          {{ form.category }}
        </div>
        <div>
          <a class="btn btn-primary" href="{{ url_for('main.category_adding') }}" role="button">Добавить категорию</a>
        </div>
        <div class="col">
          {{ form.date }}
        </div>
        <div class="col-md-4">
          {{ form.comment }}
        </div>
        <div class="col-md-1">
          {{ form.submit }}
        </div>
      </div>
    </form>
  </div><br/>
   <div class="row">
     <div class="col-8">
      <div class='container'>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Amount</th>
              <th scope="col">Category</th>
              <th scope="col">Comment</th>
            </tr>
          </thead>
          <tbody>
            {% for transaction in user_transactions %}
            <tr>
              <td>{{ transaction.date }}</td>
              <td>{{ transaction.value }}</td>
              <td>{{ transaction.trans_cat.name }}</td>
              <td>{{ transaction.comment }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
     </div>
   </div> 

{% endblock %}